* {font-family: Courier;}
.main {
    padding: 20px;
    margin-left: 240px;
}

.main h1 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:40px;
    color:black;
    display: block;
}

.main h2 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:24px;
    color:black;
    display: block;
}

.main p {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:18px;
    color:black;
    display: block;
}

.main a {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:24px;
    color:black;
    display: block;
}

.main img {
    max-width: 500px;
    max-height: 400px;
    padding-top: 20px;
    padding-bottom:20px;
}


.gallery {
    padding: 20px;
    margin-left: 240px;
}

.gallery img {
    max-width: 700px;
    max-height: 500px;
    padding-top: 100px;
    padding-bottom:30px;
}

.gallery p {
    padding: 6px 8px 120px 8px;
    text-decoration:none;
    text-align:center;
    font-size:18px;
    color:black;
    display: block;
}

.footer {
    margin-left: 240px;
    padding: 20px;
}

.footer img {
    max-height: 300px;
    max-width: 300px;
    padding: 20px 20px;
}

.footer h1 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:24px;
    color:#000000;
    display: block;
}

.footer a {
    padding: 6px 8px 18px 6px;
    text-decoration: none;
    text-align:center;
    font-size: 15px;
    color: #000000;
    display: block;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #293317;
    overflow-wrap: break-word;
    padding-top: 20px;
}

.sidenav h1 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size: 24px;
    color: #82c571;
    display: block;
}

.sidenav p {
    padding: 6px 8px 18px 6px;
    text-decoration: none;
    text-align:center;
    font-size:15px;
    color: #82c571;
    display: block;
}

.sidenav a {
    padding: 6px 8px 18px 6px;
    text-decoration: none;
    text-align:center;
    font-size: 15px;
    color: #82c571;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav img {
    width: 120px;
    padding: 10px 10px;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
