* {font-family: Courier;}
.main {
    padding: 20px;
    margin-left: 20%;
}

.main h1 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:40px;
    color:black;
    display: block;
}

.main h2 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:24px;
    color:black;
    display: block;
}

.main p {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:18px;
    color:black;
    display: block;
}

.main a {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:24px;
    color:black;
    display: block;
}

.main img {
    height: 50%;
    width: auto;
    max-width: 75%;
    padding-top: 20px;
    padding-bottom:20px;
}


.gallery {
    padding: 10%;
    margin-left: 20%;
}

.gallery img {
    height: 70%;
    width: auto;
    max-width: 70%;
    padding-top: 10%;
    padding-bottom:30px;
}

.gallery p {
    padding: 6px 8px 120px 8px;
    text-decoration:none;
    text-align:center;
    font-size:18px;
    color:black;
    display: block;
}

.footer {
    margin-left: 20%;
    padding: 20px 50px;
}

.footer img {
    max-height: 35%;
    max-width: 35%;
    padding: 20px 20px;
}

.footer h1 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size:24px;
    color:#000000;
    display: block;
}

.footer a {
    padding: 6px 8px 18px 6px;
    text-decoration: none;
    text-align:center;
    font-size: 15px;
    color: #000000;
    display: block;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #293317;
    overflow-wrap: break-word;
    padding-top: 20px;
}

.sidenav h1 {
    padding: 6px 8px 18px 6px;
    text-decoration:none;
    text-align:center;
    font-size: 24px;
    color: #82c571;
    display: block;
}

.sidenav p {
    padding: 6px 8px 18px 6px;
    text-decoration: none;
    text-align:center;
    font-size:15px;
    color: #82c571;
    display: block;
}

.sidenav a {
    padding: 6px 8px 18px 6px;
    text-decoration: none;
    text-align:center;
    font-size: 15px;
    color: #82c571;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav img {
    width: 50%;
    padding: 10px 10px;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .sidenav {
        display: none;
    }
    .main {
        margin-left: 0px;
    }
    .main img {
        width: 80%;
        height: auto;
    }
    .gallery {
        margin-left: 0px;
    }
    .gallery img {
        max-width: 100%;
        max-height: 70%;
    }
    .footer {
        margin-left: 0px;
    }
}